<ul class="navbar-nav  flex-grow-0">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-sm text-light text-12px" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-language fa-2x">&nbsp;&nbsp;</span>@Model.Translations["Lang"] <span class="caret"></span></a>
        <ul class="dropdown-menu bg-dark text-sm-center">
            <li>
                <a href="/lang/ge" class="nav-link dropdown-item bg-dark text-light text-sm-center text-12px">ქართული</a>
            </li>
            <li>
                <a href="/lang/en" class="nav-link dropdown-item bg-dark bg-dark text-light text-sm-center text-12px justify-content-center">English</a>
            </li>
            <li>
                <a href="/lang/ru" class="nav-link dropdown-item bg-dark bg-dark text-light text-sm-center text-12px justify-content-center">русский</a>
            </li>
        </ul>
    </li>
</ul>